@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Sarala:wght@400;700&display=swap');


.banner{
    width: 90vw;
    height: auto;
    background-position: center;
    background-size: 100vw;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.blur{
    display: block;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    backdrop-filter: blur(2px);
    background-image: url("../../public/banner.jpg");
    padding: 1rem 2rem;
    width: 50vw;
    
}

.logo-banner{
    width: 25vw;
}

.title{
    font-size: 26pt;
    margin: 1rem 0;
    font-family: 'Finger Paint', cursive;
}

.link-whatsapp{
    display: block;
    margin: 1rem 0;
    text-decoration: none;
    background-color: rgba(98, 0, 255, 0.555);
    max-width: fit-content;
    padding: 20px 25px;
    border-radius: 10px;
    color: rgb(207, 207, 207);
}

.link-whatsapp:hover,
.link-whatsapp:focus{
    color: #FFF;
    background-color: rgba(98, 0, 255, 0.685);

}

.link-whatsapp:active{
    color: rgb(223, 189, 0);
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid wheat;
    margin-top: 5rem;
    padding: 1rem;
    max-width: 75vw;
    border-radius: 5px;
}

.sinopse{
    width: 75vw;
    background-color: #14043536;
}

h2{
    text-transform: uppercase;
    font-size: 24pt;
    font-family: 'Finger Paint', cursive;
}

.text-container{
    margin: 1rem;
    padding: 1rem;
}

.text-container p{
    margin-bottom: 10px;
    font-size: 12pt;
    line-height: 1.5rem;
}


.topic{
    width: 50vw;
    background-color: rgba(0, 128, 0, 0.192);
}

.title-topic{
    font-size: 18pt;
}

.topic-list{
    list-style: decimal;
}

.topic-list li{
    margin: 1rem 0px;
}


@media (max-width:800px){
    .topic{
        width: 75vw;
    }
    .title-topic{
        font-size: 14pt;
        text-align: center;
    }
}